.statusFour {
    width: 25%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-bottom: 2px solid;
    margin: 0;
    text-align: center;
    font-size: 30px;
}