.statusTwo {
    width: calc(25% - 2px);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-right: 2px solid;
    border-bottom: 2px solid;
    margin: 0;
    text-align: center;
    font-size: 30px;
}