.backlog {
    width: 70%;
    height: fit-content;
    min-height: 150px;
    background-color: #f3ed5b;
    padding: 45px 10px 10px 10px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    cursor: grab;
    border-radius: 2px;
    -webkit-box-shadow: 4px 4px 8px 5px rgba(34, 60, 80, 0.47);
    -moz-box-shadow: 4px 4px 8px 5px rgba(34, 60, 80, 0.47);
    box-shadow: 4px 4px 8px 5px rgba(34, 60, 80, 0.47);
    white-space: pre-wrap;
    word-break: break-all;
    position: relative;
}

.hidden {
    opacity: 0;
}

.deletePin {
    width: 45px;
    height: 45px;
    position: absolute;
    top: 0;
    right: calc(50% - 25px);
    cursor: pointer;
}

.deletePin:hover {
    background-color: white;
    border-radius: 50%;
}