.inProgress {
    width: 70%;
    aspect-ratio: 1/1;
    background-color: #f3ed5b;
    padding: 10px;
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: grab;
    border-radius: 2px;
    -webkit-box-shadow: 4px 4px 8px 5px rgba(34, 60, 80, 0.47);
    -moz-box-shadow: 4px 4px 8px 5px rgba(34, 60, 80, 0.47);
    box-shadow: 4px 4px 8px 5px rgba(34, 60, 80, 0.47);
    white-space: pre-wrap;
    word-break: break-all;
}

.hidden {
    opacity: 0;
}